#map {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  @keyframes fade { 
    from { opacity: 0.5; } 
  }
  
  .blinking {
    animation: fade 1s infinite alternate;
  }