{%load static %}
<div id="col-left" class="col-left">
    <div class="main-nav-wrapper">
        <nav id="main-nav" class="main-nav">
            <h3>MAIN</h3>
            <ul class="main-menu">
                <li class="has-submenu">
                    <a href="#" class="submenu-toggle"><i class="icon ion-ios-speedometer-outline"></i><span class="text">Dashboards</span></a>
                    <ul class="list-unstyled sub-menu collapse">
                        <li><a href="><span class="text">Home</span></a></li>
                        
                    </ul>
                </li>
                
                
                <li><a href="widgets.html"><i class="icon ion-ios-color-wand-outline"></i><span class="text">Widgets</span></a></li>
                
                    
            
            <h3>ESSENTIALS</h3>
            <ul class="main-menu">
                <li class="has-submenu">
                    <a href="#" class="submenu-toggle"><i class="icon ion-ios-pie-outline"></i><span class="text">Charts</span></a>
                    <ul class="list-unstyled sub-menu collapse">
                        <li><a href="charts-basic.html"><span class="text">Basic</span></a></li>
                        <li><a href="charts-interactive.html"><span class="text">Interactive Charts</span></a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#" class="submenu-toggle"><i class="icon ion-ios-grid-view-outline"></i><span class="text">Tables</span></a>
                    <ul class="list-unstyled sub-menu collapse">
                        <li><a href="tables-static.html"><span class="text">Static Table</span></a></li>
                        <li><a href="tables-dynamic.html"><span class="text">Dynamic Table</span></a></li>
                    </ul>
                </li>
                <li class="active"><a href=""><i class="icon ion-ios-world-outline"></i><span class="text">Maps</span></a></li>
            
                    
                </li>
            </ul>
        </nav>
    </div>
</div>