<div class="left_col scroll-view ">
  <div class="navbar nav_title" style="border: 0;">
    <a href="index.html" class="site_title"><i class="fa fa-spinner"></i> <span>Dashboard</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/rimsha.png" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2>Group 43</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a href="{%url 'tracking' %}"><i class="fa fa-home"></i> Home <span ></span></a>
         
        </li>
        <li><a href="{%url 'insights' %}"><i class="fa fa-edit"></i> Insights <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="form.html">Active Hours</a></li>
            <li><a href="form_advanced.html">Mostly Taken Route</a></li>
            <li><a href="form_advanced.html">Most Visited Location</a></li>
            <li><a href="form_advanced.html">Average Active Hours</a></li>
            <li><a href="form_advanced.html">Fuel Used</a></li>
            <li><a href="form_advanced.html">Highest Speed</a></li>
           
          </ul>
        </li>
        
      
        <li><a href="{%url 'vehicle_history' %}"><i class="fa fa-bar-chart-o"></i> Vehicle History  <span ></span></a>
          
        </li>
        <li><a href="{%url 'collision_detection' %}"><i class="fa fa-plane" aria-hidden="true"></i>
          Collision Detection  <span ></span></a>
          
        </li>
        <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="#">Track My Device</a></li>
            <li><a href="#">Add Fuel Consumption</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!--<div class="menu_section">
      <h3>Live </h3>
      <ul class="nav side-menu">
        <li><a href=""><i class="fa fa-bug"></i> Live Tracking <span ></span></a>
         
        </li>
        <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="page_403.html">403 Error</a></li>
            
          </ul>
        </li>
        <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
              <li><a href="#level1_1">Level One</a>
              <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li class="sub_menu"><a href="level2.html">Level Two</a>
                  </li>
                  <li><a href="#level2_1">Level Two</a>
                  </li>
                  <li><a href="#level2_2">Level Two</a>
                  </li>
                </ul>
              </li>
              <li><a href="#level1_2">Level One</a>
              </li>
          </ul>
        </li>
       
      </ul>
    </div>-->
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons 
  <div class="sidebar-footer">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
   
  </div>
  <!-- /menu footer buttons -->
</div>
