{% extends "base_site.html" %}
{%load static %}
{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css 'C:/Users/Rimsha khan/Desktop/mycss.css' %}
    {% load static%}
    {% block content %}
<!DOCTYPE html>
<html>
    
    <head>
       
      
        <title> Our Home</title>
        <style type="text/css">
  


            </style> 
            <link rel="stylesheet" href="{% static 'build/css/mycss.css'%}">
            <script src="{% static 'build/leaflet.rotatedMarker.js'%}"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
        <link rel="stylesheet" href="{% static 'website/css/leaflet.css' %}" />
      
        
    </head>
    <body>
        
       
        <div class="right_col" role="main" style="background-color:rgb(0, 0, 0);">
            <div class="row" style="background-color:black;">
                <div class="col-md-12 col-sm-12 col-xs-12 " >
            <form  action='{% url "collision_detection" %}' method="POST">
              {%csrf_token %}
              
                  <label for="plane"><h3><i class="fa fa-plane teal-color " ></i>  Choose Aircraft:</label>
                  
                  <select style="color:white"  name="plane" id="plane" placeholder=" --Select--" class="planedropdown" >
                    <option value="" disabled selected hidden class="planedropdown">--Select-- </option>
                  
                    {% for d in drop%}
                    {% if  d == val %}
                    <option  disabled="true" selected class="colplanedropdown"> {{val}}</option>
                    
                    {% else %}
            
                    <option class="planedropdown">{{d}}</option>
                    {% endif %}
                    
                   {% endfor %}
                   
                  
                   <i class="fa fa-caret-down"></i>
                  </select>
                  <input type="submit" value="Track" class="button">
                </form></h3>
                        </div>
                </div>
            <div class="row" style="background-color:black;border-style: solid;
            border-color: rgb(224, 219, 219)" >
              
               
                 
        
              
                    <div style="background-color: black;" >
                        {% leaflet_map "map"  %} 
                    </div>
                    <div id="myDiv" style="background-color: black;">
                        <script type="application/javascript" src="//cdn.plot.ly/plotly-latest.min.js"></script>
                      </div>
                
               
               <div class="clearfix"></div>
                
            
            </div>
          
   </div>
    </body>
   
 <script>
  
  var center={{center |safe}}; 
  var probab={{prob |safe}};
  var device={{device |safe}};
  var data={{data|safe}};
  
  var map = L.map('map').setView(center, 11);
  var danger_data={{danger_data|safe}};
  
    L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">Collision Detection</a> contributors',
      maxZoom: 18}).addTo(map);  
            
      var circle = L.circle(center,18200, {color: '#FC5044',
                    fillColor: '#FC5044',
                    fillOpacity: 0.5,
                    }).addTo(map); 
    var circle = L.circle(center, 12000, {color: '#FC3426',
                    fillColor: '#FC3426',
                    fillOpacity: 0.5,
                    }).addTo(map); 
  
    var circle = L.circle(center, 6000, {color: '#FF1F0F',
                                                    fillColor: '#FF1F0F',
                                                    fillOpacity: 0.5,
                                                    }).addTo(map); 
L.Icon.Default.imagePath = 'D:/django/test2/leaflet/';
var marks=[]; //storing marker objects
var lines=[];
var customOptions =
    {
    'maxWidth': '400',
    'width': '200',
    
    'className' : 'popupCustom'
    }
function create_marker(x,y,z,name,prob,ETC,class_,angle,i){

var marker= new L.marker([x,y], {rotationAngle: angle,

icon: L.icon({
iconUrl: 'https://svgsilh.com/svg/295396.svg',
iconSize: [30, 30],
rotationOrigin:'center center',
color: "rgb(0,0,100)",
className: class_,
})})
if (x==center[0] && y==center[1])  {
marker.bindPopup('<div id="foo"></div>').on('popupopen', function (e) {
        Plotly.newPlot('foo', [{
          values: probab,
  labels: device,
  type: 'pie'
        }], {
            autosize: false,
            width: 300,
            height: 150,
            margin: {
                l: 0,
                r: 0,
                b: 0,
                t: 0,
                pad: 0
            }
        });
    }).addTo(map);

} else {
    if (z=='Danger'){
marker.bindPopup( "<b>Aircraft ID:</b> "+name+" <br><b>Status:\n</b> "+z+" <br><b>Chances:</b> "+prob*100+"% "+"<br><b>Estimated Time:</b> "+ETC ,customOptions).addTo(map);
    }else {
        marker.bindPopup("<b>Aircraft ID:</b> "+name+" <br><b>Status: </b>Safe ",customOptions).addTo(map);
  
    }
}
marks.push(marker);}
var table_data0=[];
var table_data1=[];
var table_data2=[];
var table_data3=[];
var table_data4=[];
var table_data5=[];
var table_data6=[];
var table_data7=[];
var table_data8=[];
var table_data9=[];
var table_data10=[];
var table_data11=[];
function precise(x) {
  return Number.parseFloat(x).toPrecision(4);
}
for (var i=0; i< data.length;i++){
  if (data[i][9]<=18.52 && data[i][0]!=center[0] && data[i][1]!= center[1]){
table_data0.push(data[i][3]);
table_data1.push(precise(data[i][5]));
table_data2.push(data[i][1]);
table_data3.push(data[i][0]);
table_data4.push(data[i][6]);
table_data5.push(precise(data[i][8]));
table_data6.push(precise(data[i][9]));
table_data7.push(data[i][10]);
table_data8.push(data[i][11]);
table_data9.push(data[i][12]);
table_data10.push(precise(data[i][4]));
table_data11.push(data[i][2]);
}}
var i='ff0000';
var table_data=[table_data0,table_data1,table_data2,table_data3,table_data4,table_data5,table_data6,table_data7,table_data8,table_data9,table_data10,table_data11];
for (var i=0;i<data.length;i++) //creating markers
{
if (data[i][2]=='Danger'){
  
create_marker(data[i][0],data[i][1],data[i][2],data[i][3],data[i][4],data[i][5],'blinking',i);
}else{
  create_marker(data[i][0],data[i][1],data[i][2],data[i][3],data[i][4],data[i][5],null,data[i][8],i);
} }
var polyArray=[];
function onMapHover(e) {
lt=e.latlng.lat;//latitude 
lng=e.latlng.lng;//longitude
if (e.latlng.lat==center[0] && e.latlng.lng== center[1]) {
// Creating center points line with danger points

for (var i =0;i<danger_data.length;i++)
{
var co=[center,danger_data[i]];
polyArray.push(co);
}
Line(polyArray,'red');
}  else {
var latlngs = [[lt, lng],center];//center point and hover point
Line(latlngs,'#000099');
}
}
var polyline=[center,center];
function Line(latlong,color){
map.removeLayer(polyline);
polyline = new L.polyline(latlong, {color: color}).addTo(map);
lines.push(polyline);
}
function MapClick(e) {
    lt=e.latlng.lat;
      //alert(table_data);
}
L.Icon.Default.prototype._getIconUrl()
for (var i=0; i<marks.length;i++){
marks[i].on('click', MapClick);
}

for (var i=0; i<marks.length;i++){
marks[i].on('mouseover', onMapHover);


}

var tab_data = [{
  type: 'table',
  columnwidth: [1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000],
  columnorder: [0,1,2,3,4,5,6,7,8,9,10,11],
  header: {
    values: ['ID','Estimated Collision Time<i>(hrs)</i>','Latitude','Longitude','Altitude<br><i>(ft)<i>','Angle<br><i>(degree)</i>','Horizontal Separation <i>(km)</i>','Vertical Separation <i>(ft)</i>','Horizontal Position','Vertical Position','Probability','Status'],
    align: "center",
    line: {width: 1, color: 'rgb(50, 50, 50)'},
    fill: {color: ['rgb(235, 100, 230)']},
    font: {family: "Arial", size: 14, color: "white"},
    align: ['left', 'right', 'center'],
	 height: 20,
  },
  cells: {
    values: table_data,
    align: ["left", "center"],
	 height: 30,
    line: {color: "black", width: 1},
    fill: {color: ['rgb(235, 193, 238)','rgba(228, 222, 249, 0.65)', 'rgba(228, 222, 249, 0.65)','rgba(228, 222, 249, 0.65)','rgba(228, 222, 249, 0.65)']},
    font: {family: "Arial", size: 13, color: ["black"]}
  }
}]

var layout = {
  paper_bgcolor: "rgba(0,0,0,0)",
 color:'white',
  'title': {'text':"<b>Aircraft "+ name+" Collision Detection</b>",'font-color':'white'},
  font: {size: 18,color:'white'}
}

Plotly.newPlot('myDiv', tab_data, layout);

</script>
</html>{% endblock%}