{% extends "base_site.html"%}


{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
{% load plotly_dash%}
  <div class="right_col" role="main" style="background-color:black;">
    <!-- top tiles -->
    <div class="row tile_count">
     
      
      <div class="col-md-6 col-sm-6 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Vehicles</span>
        <div class="count green">{{vehicle_count}}</div>
        
      </div>
     
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Cars</span>
        <div class="count">{{car_count}}</div>
        
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Trucks</span>
        <div class="count">{{truck_count}}</div>
        
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Airplanes</span>
        <div class="count">{{plane_count}}</div>
       
      </div>
    </div>
    <!-- /top tiles -->
    <div class="row" style="background-color:black;">
      <div class="col-md-10 col-sm-10 col-xs-10 " >
  <form  action=' {% url "vehicle_history" %}'method="POST">
    {%csrf_token %}
    
        <label for="cars"><h3 style="color:white;"><i class="fa fa-car" style="font-size:24px;color:rgb(247, 192, 12);"> </i> Choose Vehicle:</label>
        
        <select  class="button" name="cars" id="cars" placeholder=" --Select--">
          <option value="" disabled selected hidden>--Select--</option>
          {% for d in drop%}
          {% if  d == val %}
          <option  disabled="true" selected > {{val}}</option>
          
          {% else %}
  
          <option >{{d}}</option>
          {% endif %}
         
          {% endfor %}
         
        </select>
        <input class="button" type="submit" value="View Insights" >
      </form>
      
    </h3>
              </div>
              
              <div class="col-md-2 col-sm-2 col-xs-2 pull-right " >
                <h3>
              <form action='{% url 'vehicle_history' %}' method="GET" >
                
   
                <button style="background-Color:#700a36;" class="button" type="submit" name="car_truck" value='{{display|safe}}' method="GET" >
                  View {{display|safe}}
                </button>
              </form>
            </h3>
             
              </div>
      </div>
<!-- map  -->
    
    <!-- /map  -->
    <!-- data table  -->
      <div class="row" style="background-color:black;border-style: solid;
      border-color: rgb(224, 219, 219)">
      <div class="col-md-12 col-sm-12 col-xs-12" style="background-color:black;">
        <div class="dashboard_graph" style="background-color:black;">

          <div class="row x_title">
            <div class="col-md-12">
              <h3 style="color:white">Vehicle History <small> Call ID:{{val}}</small></h3>
            </div>
  
          </div>

          <div class="col-md-12 col-sm-12 col-xs-12">
            <div >
                <div class="{% plotly_class name='history'%} card" style="height:100%;width:100%">
                    {% plotly_app name='history' ratio=1 %}
                    {{ plot1 | safe }}
                        </div>
            </div>
           
        </div>
        

          <div class="clearfix"></div>
        </div>
        
      </div>
    </div>

    <br />
    

  
  </div>
  
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
{% endblock javascripts %}

    